html, body {
    height: 100%;
}

body{
    font-family: $font-family;
    margin: 0;
    padding-top: 0.1px; // Prevent header h1 margin from pushing body down
    max-device-width: 100%;
    max-width:100%;
}
.map_box_container{

    height: 100% !important;


    top: 80px;
    position: fixed;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;

}
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

.fa-arrow-circle-up{
    color: #0f0;
}
.fa-arrow-circle-down{
    color: #f00;
}
.bottomnav{
    padding-top: 20px;
}
.container{
    .mdc-icon-button{
        transform: scale(0.6);
    }
}

.paginationButton{
    color: $mdc-theme-primary;
}
.grafana{
    margin-bottom: 60px;
}


.hscroll {
    overflow-x: auto; /* Horizontal */
}

.mdc-data-table, .home{
    margin-top: 50px;
    width: 100%;

}

.mdc-card{
    padding: 15px;
}

.content {
    display: none;
}

.content--active {
    display: block;
}
