html, body {
    height: 100%;
}

body{
    font-family: $font-family;
    margin: 0;
    padding-top: 0.1px; // Prevent header h1 margin from pushing body down
    max-device-width: 100%;
    max-width:100%;
}
.map_box_container{

    height: 100% !important;


    top: 80px;
    position: fixed;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;

}


/* Small devices (portrait tablets and large phones, 600px and up) */

.fa-arrow-circle-up{
    color: #0f0;
}
.fa-arrow-circle-down{
    color: #f00;
}
.bottomnav{
    padding-top: 20px;
}
.container{
    .mdc-icon-button{
        transform: scale(0.6);
    }
}

.paginationButton{
    color: $mdc-theme-primary;
}
.grafana{
    margin-bottom: 60px;
}


.hscroll {
    overflow-x: auto; /* Horizontal */
}

 .home{
    margin-top: 50px;
    width: 100%;

}

.mdc-card{
    padding: 15px;
}

.content {
    display: none;
}

.content--active {
    display: block;
}
