html, body {
    height: 100%;
}

body{
    font-family: $font-family;
    margin: 0;
    padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}
.container{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.fa-arrow-circle-up{
    color: #0f0;
}
.fa-arrow-circle-down{
    color: #f00;
}
.bottomnav{
    padding-top: 20px;
}
.mdc-data-table{
    margin-bottom: 60px;
    margin-top: 20px;

}
.paginationButton{
    color: $mdc-theme-primary;
}


