// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'DM Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$mdc-theme-primary: #037971;
$mdc-theme-on-primary: #023436;
$mdc-theme-secondary: #e8fee6;
$mdc-theme-on-secondary: #023436;
$mdc-theme-surface: #EFFFEF;
$mdc-theme-on-surface: #023436;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #023436;


@use "@material/theme" with (
  $primary: $mdc-theme-primary,
  $on-primary: $mdc-theme-on-primary,
  $secondary: $mdc-theme-secondary,
  $on-secondary: $mdc-theme-on-secondary
);
